@font-face {
    font-family: 'Lemon';
    src: url('Lemon-Regular.woff2') format('woff2'),
        url('Lemon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

